<!DOCTYPE html>
<html lang="en">

{% block head %}
<head>
    <meta charset="UTF-8">
    <title> Advanced REST-API </title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <script src="{{url_for('static', filename='main.js')}}"></script>
</head>
{% endblock %}

<body>

{% block src %}
{% endblock %}

{% block navbar %}

    <div class="navbar">
        <a href="{{url_for('auth.login')}}"> LOGIN </a>
        <a href="{{url_for('details.info')}}"> DETAILS </a>
        <a href="{{url_for('details.methods')}}"> METHODS </a>
        <a href="{{url_for('hardware.stats')}}"> PERFORMANCE </a>
        <a href="{{url_for('user.users')}}"> USERS </a>
        <a href="{{url_for('logs.service_logs')}}"> SERVICE LOGS </a>
        <a href="{{url_for('logs.client_logs')}}"> CLIENT LOGS </a>
        <a href="{{url_for('config.settings')}}"> SETTINGS </a>
    </div>

{% endblock %}

{% block body %}
{%  endblock %}

</body>
</html>
